apiVersion: v1
kind: Service
metadata:
  name: {{ include "auth-service.fullname" . }}-frontend
  labels:
    {{- include "auth-service.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "auth-service.frontend.selectorLabels" . | nindent 4 }}
